p {
    font-size: 14px
}

.icon-tag {
    padding-right: 10px;
    line-height: 48px;
    
}
.icon-container {
    padding-bottom: 0px;
}

.profile-pic {
    float: left;
}

.description {
    float: right;
}
.jumbotron {
  padding: 0;
  margin-bottom: 0;
  background-image: url("https://lh3.googleusercontent.com/proxy/uFZ-hev1hbm9hxEJvpftFYJdTfxqN6D-gtgOaIfSFITifY42yGuJFM83HimT4e6jTH1-CYXaodziXLsfHIiNA1nzGgX7ecCPR7mKxOKIsX4T-Gd3lbEArLFbwJgfmw=s0-d");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  
}
@media (min-width: 768px) {
  .jumbotron {
    /*padding-top: 6rem;
    padding-bottom: 6rem;*/
  }
}

@media (min-width: 576px) {
.jumbotron {
    padding: 0rem 0rem;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
}
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.blur-profile-bg {
  backdrop-filter: blur(5px);
  width: 100;
  height: 100;
  align-items: stretch;
  padding: 4rem;
  /*background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(60,60,60,1) 100%); */
  background: rgba(0,0,0, 0.3);
  text-shadow: 1px 1px #000;
  
}

.comms-img {
    width: 20px;
    height: 20px;
}

.profile-img {
    height: auto; 
    width: 100%;
    border-radius: 5px;
}

.search-btn {
    margin-left: 5px;
}

.social-img {
    border-radius: 5px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

