service: artshare-api
frameworkVersion: '2'

provider:
  name: aws
  runtime: python3.8
  region: eu-west-2
  stage: dev
  iamRoleStatements:
    - Effect: 'Allow'
      Action:
        - 'dynamodb:PutItem'
        - 'dynamodb:GetItem'
        - 'dynamodb:UpdateItem'
        - 'dynamodb:DeleteItem'
      Resource:
        - '*'

functions:
  createProject:
    handler: api/project.create
    memorySize: 128
    events:
      - http:
          path: project
          method: post
          request:
            schema:
              application/json: ${file(requestSchemas/createProject.json)}
            parameters:
              headers:
                Content-Type: true
                Authorization: true
          authorizer: 
            name: UserPoolAuthorizer
            scopes: artshare-api-serverless/createProject
            type: COGNITO_USER_POOLS
            arn:
              Fn::GetAtt:
                - ArtShareUserPool
                - Arn

  readProject:
    handler: api/project.read
    memorySize: 128
    events:
      - http:
          path: project/{id}
          method: get
          request:
            parameters:
              headers:
                Content-Type: true
              paths:
                id: true

  updateProject:
    handler: api/project.update
    memorySize: 128
    events:
      - http:
          path: project/{id}
          method: put
          request:
            schema:
              application/json: ${file(requestSchemas/updateProject.json)}
            parameters:
              headers:
                Content-Type: true
                Authorization: true
              paths:
                id: true          
          authorizer: 
            name: UserPoolAuthorizer
            scopes: artshare-api-serverless/updateProject
            type: COGNITO_USER_POOLS
            arn:
              Fn::GetAtt:
                - ArtShareUserPool
                - Arn

  deleteProject:
    handler: api/project.delete
    memorySize: 128
    events:
      - http:
          path: project/{id}
          method: delete
          request:
            parameters:
              headers:
                Content-Type: true
                Authorization: true
              paths:
                id: true        
          authorizer: 
            name: UserPoolAuthorizer
            scopes: artshare-api-serverless/deleteProject
            type: COGNITO_USER_POOLS
            arn:
              Fn::GetAtt:
                - ArtShareUserPool
                - Arn        

resources:
  Resources:
    ArtShareProjectTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema: 
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        TableName: ArtShareProjectTable
    ArtShareUserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        MfaConfiguration: OFF
        UserPoolName: ArtShareUserPool
        UsernameAttributes:
          - email
        AccountRecoverySetting:
          RecoveryMechanisms:
            - Name: verified_email
              Priority: 1
        Policies:
          PasswordPolicy:
            MinimumLength: 8
            RequireLowercase: true
            RequireNumbers: true
            RequireSymbols: false
            RequireUppercase: false
    ArtShareUserPoolResourceServer:
      Type: AWS::Cognito::UserPoolResourceServer
      Properties:
        Identifier: artshare-api-serverless
        Name: ArtShare API Serverless
        Scopes:
          - ScopeDescription: Create a new project
            ScopeName: createProject
          - ScopeDescription: Update an existing project
            ScopeName: updateProject
          - ScopeDescription: Delete an existing project 
            ScopeName: deleteProject
        UserPoolId:
          Ref: ArtShareUserPool         
    ArtShareUserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: ArtShareUserPoolClient
        GenerateSecret: true
        UserPoolId:
          Ref: ArtShareUserPool
        AllowedOAuthFlows:
          - code
        AllowedOAuthFlowsUserPoolClient: true
        AllowedOAuthScopes:
          - email
          - openid
          - profile
          - artshare-api-serverless/createProject  
          - artshare-api-serverless/updateProject
          - artshare-api-serverless/deleteProject
        CallbackURLs:
          - http://localhost/callback
        SupportedIdentityProviders:
          - COGNITO
    ArtShareUserPoolDomain:
      Type: AWS::Cognito::UserPoolDomain
      Properties:
        Domain: artsharetestserverless
        UserPoolId:
          Ref: ArtShareUserPool 


