service: database-clear
frameworkVersion: '2'

provider:
  name: aws
  runtime: python3.8
  region: eu-west-2
  stage: dev
  iamRoleStatements:
    - Effect: 'Allow'
      Action:
        - 'dynamodb:DeleteTable'
        - 'dynamodb:DescribeTable'
        - 'dynamodb:ListTables'
        - 'dynamodb:RestoreTableFromBackup'
      Resource:
        - '*'

functions:
  database-clear:
    handler: handler.lambda_handler
    events:
      - schedule: cron(0 0 * * ? *)
    timeout: 120