.bgWip {
    background-color: #0f0f0f;
}

.btnMod {
    border: 1px solid black;
    border-radius: 30px;
    text-transform: uppercase;
    background-color: white;
    font-size: 14px;
    color: black;
}

.card-body a {
    color: black;
}


.searchBtn {
    margin-left: 5px;
}

.formControl {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    margin-right: 10px;
}

.formControl:focus {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    margin-right: 10px;
}