.commsImg {
    width: 20px;
    height: 20px;
}

.buttonView {
    margin-top: 12px;
}

.projectInfoIcons {
    margin-top: 12px;
}

.projectDescription {
    margin-bottom: 8px;
}

.btnMod {
    border: 1px solid black;
    border-radius: 30px;
    text-transform: uppercase;
    background-color: white;
    font-size: 14px;
    color: black;
}

.links {
    color: black;
}

.links:hover {
    color: black;
    text-decoration-line: none;
}

.cardImage {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    flex-shrink: 0;
    width: 100%;
    vertical-align: middle;
    border-style: none;
    max-height: 200px; 
    object-fit: cover;
}