/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: #5a5a5a;
    min-width: 512px;
    background-color: #fafafa;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    width: 100%;
    height: fit-content;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    left: auto;
    right: auto;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
}

.carousel-inner {
    height: fit-content;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: fit-content;

}

.carousel-item > img {
    max-width: max-content;
    margin: auto;
    width: 100%;
    height: auto;
    display: block;
}

.carousel-indicators li {
    text-indent: 0px;
    color: #fff;
    text-align: center;
    width: 0px;
    height: 0px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.carousel-container {
    max-width: 1140px;
    background-color: #0f0f0f;
    margin-bottom: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-wrap {
    background-color: #0f0f0f;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.profile-img {
    border-radius: 5px;
    float: left;
    margin-right: 15px;
    margin-bottom: 0px;
    height: 100%;
    width: auto;
}

.comment {
    margin-bottom: 10px;
}

.comment-button {
    margin-bottom: 15px;
    margin-right: 5px;
}

.comment-text {
    vertical-align: middle;
}

.comment-reply {
    margin-top: 10px;
    font-weight: bold;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.gallery-img {
    max-width: 100%;
}

.bg-wip {
    background-color: #0f0f0f;
}

.btn {
    border: 1px solid black;
    border-radius: 30px;
    text-transform: uppercase;
    background-color: white;
    font-size: 14px;
    color: black;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    margin-right: 10px;
}

.form-control:focus {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    margin-right: 10px;
}

.comment-box {
    resize: none;
    border-bottom: 1px solid #000;
}

a {
    color: #000;
}

a:hover {
    color: #17a2b8;
    text-decoration: none;
}

input[type="text"], input, input:focus, input:active, input:hover, textarea:focus, textarea:active, textarea:hover, select, textarea.wp-editor-area {
    outline: none !important;
    webkit-appearance: none;
}

footer {
    padding-top: 20px;
}