.projectText {
    font-size: 18px;
}

.commentBox {
    resize: none;
    border-bottom: 1px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}

.commentButton {
    margin-bottom: 15px;
    margin-right: 5px;
}

.container-wrap {
    background-color: #0f0f0f;
}