.blurProfileBg {
    backdrop-filter: blur(5px);
    width: 100;
    height: 100;
    align-items: stretch;
    padding: 4rem;
    background: rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px #000;

}

.profileImg {
    height: auto;
    width: 100%;
    border-radius: 5px;
}

.noProfileImg {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: #212529;
    color: #fff;
    text-align: center;
    line-height: 96px;
    text-transform: capitalize;
    font-size: 28px;
}

.jumbotron {
    padding: 0;
    margin-bottom: 0;
    background-image: url("https://lh3.googleusercontent.com/proxy/uFZ-hev1hbm9hxEJvpftFYJdTfxqN6D-gtgOaIfSFITifY42yGuJFM83HimT4e6jTH1-CYXaodziXLsfHIiNA1nzGgX7ecCPR7mKxOKIsX4T-Gd3lbEArLFbwJgfmw=s0-d");
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
}