name: 'Amplify Pull, Build, Test, Publish'
on: [push]

jobs:
  deploy:
    name: amplify pull-build-test-publish
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    # Checkout code
    - uses: actions/checkout@v2

    # Setup node
    - name: Use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        version: ${{ matrix.node_version }}

    # Ensure correct amplify environment is configured on machine
    - name: Configure amplify
      uses: ambientlight/amplify-cli-action@0.2.1
      with:
        amplify_command: configure
        amplify_env: dev
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: eu-west-2

    # Install npm
    - name: Install npm
      run: |
        npm install

    # Start development server and run cypress tests
    - name: Cypress run
      uses: cypress-io/github-action@v2.3.8
      with:
        start: npm start
        wait-on: 'http://localhost:3000'
        wait-on-timeout: 30

    # Push amplify configuration, build and publish front end to amplify hosting 
    - name: Publish amplify configuration
      uses: ambientlight/amplify-cli-action@0.2.1
      with:
        amplify_command: publish
        amplify_env: dev
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: eu-west-2
